*{transition: all .1s ease-in;}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 793px;
    height: 507px;
    margin: 0 auto;
    background-color: #3B3F45;
}

/* header content*/

header {
    background-color: #4A4F56;
    height: 82px;
    text-align: center;
    color: #FF8984;
}

header h1 {
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    padding: 19px 0 4px 0;
}

header p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-bottom: 12px;
}

/* form content */
 .form {
    height: 360px;
    width: 535px;
    margin: 0 auto;
    padding-top: 20px;
 }

 li {
    height: 45px;
    box-sizing: border-box;
    padding: 11px 0;
 }

 li:nth-child(even) {
    background-color: #88839E;
 }

 li:nth-child(odd) {
    background-color: #7A7593;
 }

 li:hover {
    box-sizing: border-box;
    background-color: #625E77;
    border-bottom: 3px solid white;
    border-top: 3px solid white;
 }

label {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 11px 0;
 }

 input[type="checkbox"] {
    margin: 0 15px;
 }

 span {
    display: inline-block;
    font-weight: 400;
    font-size: 11px;
    line-height: 13px;
    margin-left: 5px;
 }

 input:checked + label, input:checked + label span {
    text-decoration: line-through;
    color: #9B96AC;
 }

 li:active {
    background-color: rgb(144, 238, 144);
 }

 /* button */

 button {
    margin-top: 45px;
    width: 535px;
    height: 45px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    color: #FF8984;
    background-color: #4A4F56;
    border: none;
    padding: 0;
 }